<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Sine<span style="color:#456;font-family: Verdana">Raft</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a style="color:white" [routerLink]="['/cinema']" routerLinkActive="router-link-active" >Cinema</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>


<!-- ======= Footer ======= -->
<footer id="footer" class="mt-5" style="opacity: .8 !important;">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <div>
            <span style="color:#aaa;font-size:23pt">Sine</span><span style="color:#007bff;font-size:23pt">Raft</span>
          </div>
          <p>Offrir aux cinéphiles une source pratique et rapide d'informations sur le cinéma, tout en facilitant l'accès aux salles, c'est la mission de SineSoft</p>
          <p>Retrouvez tous les films au cinéma, les séances dans toute le Maroc, le guide des meilleurs films à voir, les films à voir à la TV ...</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Liens util</h4>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/cinema" [routerLink]="['/cinema']" >Cinema</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contactez nous</h4>
          <p>
            Mohammedia, Maroc<br>
            <strong>Phone:</strong> (+212)6 36 18 46 29<br>
            <strong>Email:</strong> contact@devcrawlers.com<br>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>DevCrawlers</strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
